#langs 			{ width:100%; float:right; top:0; text-align:right; }
#langs a 			{ margin: 0 10px 0 0; text-decoration: none }
#langs a:hover		{ color: #db2020; }
#langs a img		{ padding: 2px 2px 2px 2px; border: 1px solid #cecece; width: 25px }
#langs a img.active	{ padding: 2px 2px 2px 2px; border: 1px solid red; }
#langs a.active 		{ padding: 2px 2px 2px 2px; border: 1px solid red; color: red }