#mmlangs img.homepage{opacity:.618;}
#mmlangs ul li 			{ display:inline; list-style-type: none;}
#mmlangs a 			{ margin: 0 10px 0 0; text-decoration: none }
#mmlangs a:hover		{ color: #db2020; }
#mmlangs a img			{ padding: 2px 2px 2px 2px; border: 1px solid #cecece; width: 25px }
#mmlangs a img.active	{ padding: 2px 2px 2px 2px; border: 1px solid red; }
#mmlangs a.active 		{ padding: 2px 2px 2px 2px; border: 1px solid red; color: red }